.banner
    .banner-container
        .left 
            a(href="#")
                img(src="../image/banner10.jpg", alt="")
        .right 
            a(href="#")
                img(src="../image/banner11.jpg", alt="")