.form 
    .form-container
        .counpon-container
            .counpon
                h3 COUNPON
                .content
                    p Enter your coupon code if you have one.
                    .input-group
                        input(type="text" placeholder=" Counpon Code")
                        button(type="submit") APPLY CUONPON
        .cart
            h3 CART TOTAL
            .cart-total
                .sub
                    p Subtotal 
                    p.amount £215.00
                .shipping 
                    p Shipping 
                    p.amount 
                        span Flat Rate:
                        | £255.00
                .caculate
                    a(href="#") Caculate Shipping
                .total
                    p total
                    p.amount £215.00
                .button
                    button(type="submit") Proces to Checkout