.shipping-area
    .container 
        .ship
            figure
                img(src="../image/shipping5.jpg", alt="")
            .content
                h3.uppercase free shipping
                p Free shipping on all US order or order above $200
        .ship
            figure
                img(src="../image/shipping6.jpg", alt="")
            .content
                h3.uppercase support 24/7
                p Contact us 24 hours a day, 7 day a week
        .ship
            figure
                img(src="../image/shipping7.jpg", alt="")
            .content
                h3.uppercase 30 day return
                p Simply return it within 30 days for an exchange
        .ship
            figure
                img(src="../image/shipping8.jpg", alt="")
            .content
                h3.uppercase 100% payment seecure
                p We ensure secure payment with PEV