.product
    .product-area 
        .related-product
            .title
                h2 Related Product
            .relative.owl-carousel.owl-theme
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                            a.first(href="#")
                                img(src="../image/product1.jpg", alt="")
                            a.primery(href="#")
                                img(src="../image/product7.jpg", alt="")
                            .img-content
                                h3.uppercase sale
                                h4.uppercase new
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
        .related-product.upsell
            .title
                h2 Upsell Product
            .relative.owl-carousel.owl-theme
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                            .icon
                                a(href="#" title="Add to cart")
                                    i.fas.fa-shopping-cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
                .product-1
                    figure
                            a.first(href="#")
                                img(src="../image/product1.jpg", alt="")
                            a.primery(href="#")
                                img(src="../image/product7.jpg", alt="")
                            .img-content
                                h3.uppercase sale
                                h4.uppercase new
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                    .content
                        h3
                            a(href="#") Aliquam Consequet
                        p 
                            a(href="#") Fruits
                        h4 
                            |$26.00
                            span $382.00
script.
 $(document).ready(function(){
     $('.relative').owlCarousel({
      nav: false,
      loop: true,
      responsive: {
      1000: {
      items: 5
      },
      600: {
      items: 3
      },
      320: {
          items :1
      },
      0: {
      items: 1
      }
      }
      })
 })