@media screen and (min-width:320px){
    .product .product-area  {
        padding: 0 16px;
    }
    .product .product-area .upsell {
        border-bottom: 1px solid #ddd;
        padding-bottom: 60px;
    }
    .product .product-area .related-product {
        margin-bottom: 60px;
    }
    .product .product-area .related-product .title {
        text-align: center;
        margin-bottom: 25px ;
    }
    .product .product-area .related-product .relative  .owl-dots{
        display: none;
    }
    .product .product-area .related-product h2 {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 0;
        text-transform: capitalize;
        padding-bottom: 0;
        font-size: 22px;
        line-height: 22px;
        text-align: center;
    }
    .product .product-area .related-product .relative .product-1 figure {
        position: relative;
    }
    .product .product-area .related-product .relative .product-1 figure .primery {
        position: absolute;
        top:0;
        left:0;
        right:0;
        visibility: hidden;
        opacity:0;
        transition: all 0.2s ease-in;
    }
    .product .product-area .related-product .relative .product-1 figure:hover .primery{
        visibility:visible;
        opacity:1;
    }
    .product .product-area .related-product .relative .product-1 figure:hover .first{
        visibility:hidden;
        opacity:0;
        transition: all 0.2s ease-in;
    }
    .product .product-area .related-product .relative .product-1 figure .img-content h3 {
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 20px;
        padding: 0 5px;
        background: #40A944;
        line-height: 20px;
        color: #FFF;
        border-radius: 5px;
    }
    .product .product-area .related-product .relative .product-1 figure .img-content h4 {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 15px;
        padding: 0 5px;
        background: #40A944;
        line-height: 20px;
        color: #FFF;
        border-radius: 5px;
    }
    .product .product-area .related-product .relative .product-1 figure .img-content .icon {
        position: absolute;
        bottom: 2px;
        background-color: #FFF;
        display: block;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        height: 35px;
        line-height: 35px;
        border-radius: 20px;
        left: 5%;
        visibility:hidden;
        opacity:0;
        transition: all 0.2s ease-in;
    }
    .product .product-area .related-product .relative .product-1 figure:hover .icon {
        visibility: visible;
        opacity: 1;
        transform: translateY(-10px);
    }
    .product .product-area .related-product .relative .product-1 figure .img-content .icon a {
        padding: 5px;
        margin: 10px;
    }
    .product .product-area .related-product .relative .product-1 figure .img-content .icon a:hover {
        border-radius: 50%;
        background-color: #40A944;
        color:#FFF;
        transition: all 0.2s ease-in;

    }
    .product .product-area .related-product .relative .product-1 .content {
        text-align: center;
        margin-top: 15px;
    }
    .product .product-area .related-product .relative .product-1 .content h3 a{
        display: block;
        font-size: 15px;
        margin-bottom: 14px;
        line-height: 14px;
    }
    .product .product-area .related-product .relative .product-1 .content p a{
        display: block;
        font-size: 12px;
        line-height: 12px;
        margin-bottom: 14px;
    }
    .product .product-area .related-product .relative .product-1 .content h4 {
        color: #40A944;
        font-size: 13px;
        font-weight: 500;
    }
    .product .product-area .related-product .relative .product-1 .content h4 span{
        font-size: 15px;
        color: #222222;
        text-decoration: line-through;
        margin-left: 10px;
        font-weight:400;
    }
    .product .product-area .related-product .relative .product-1  {
        background-color: #FFF;
    }
}
@media screen and (min-width: 768px) {
    .product .product-area .related-product h2 {
        font-size: 32px;
        line-height: 35px;
    }
    .product .product-area .related-product .relative .product-1 {
        padding: 0 8px;
    }
    .product .product-area  {
        padding: 0 8px;
    }
}
@media screen and (min-width: 1200px){
    .product .product-area  {
        margin: auto;
        max-width: 1130px;
    }
}