.trending 
    .container
        .title
            h3 Trending Products
            .right
                h3 Vegetables
                h4 Fruits
                h5 Salads
        .product.owl-carousel.owl-theme
            .product1
                figure
                    img(src="../image/product1.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product2.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product3.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product4.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product5.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product6.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
        .product.owl-carousel.owl-theme
            .product1
                figure
                    img(src="../image/product1.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product2.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product3.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product4.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product5.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product6.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
        .product.owl-carousel.owl-theme
            .product1
                figure
                    img(src="../image/product1.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product2.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product3.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product4.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product5.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00
            .product1
                figure
                    img(src="../image/product6.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                .content
                    h3
                        a(href="#") Aliquam Consequet
                    p 
                        a(href="#") Fruits
                    h4 
                        |$26.00
                        span $382.00