.footer 
    .footer-container
        .top-footer
            .logo
                a(href="")
                    img(src="../image/logo.png", alt="")
                p We are a team of designers and developers that create high quality eCommerce, WordPress, Shopify .
                p 
                    span Adress :
                    |  4710-4890 Breckinridge USA
                p 
                    span Email :
                    |  demo@hasthemes.com
                p 
                    span Call us :
                    |  (08) 23 456 789
            .right
                .info
                    h3 Infomation
                    ul
                        li 
                            a(href="#") About Us
                        li 
                            a(href="#") Delivery Information
                        li 
                            a(href="#") Privacy Policy
                        li 
                            a(href="#") Terms & Conditions
                        li 
                            a(href="#") Contact Us
                        li 
                            a(href="#") Site Map  
                .extra
                    h3 extra 
                    ul
                        li 
                            a(href="#") Brand
                        li 
                            a(href="#") Gift Certificates
                        li 
                            a(href="#") Affiliate
                        li 
                            a(href="#") Specials
                        li 
                            a(href="#") Returns
                        li 
                            a(href="#") Order History 
                .sign-up
                    h3 Sign Up Newsletter
                    p Get updates by subscribe our weekly newsletter
                    .input
                        input(type="email" placeholder= " Enter Your Email")
                        button Subscribe
        .bot-footer
            .bot-content
                .left
                    p 
                        | Copyright © 2020 Safira . All Rights Reserved.Design By                     
                        a(href="#") Safira
                .right
                    figure
                        a(href="#")
                            img(src="../image/paypal1.jpg", alt="")
                    figure
                        a(href="#")
                            img(src="../image/paypal2.jpg", alt="")
                    figure
                        a(href="#")
                            img(src="../image/paypal3.jpg", alt="")
                    figure
                        a(href="#")
                            img(src="../image/paypal4.jpg", alt="")