.shop-product
    .product-container
        .grid-3
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
        .grid-4.visibility
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
            .grid-product
                figure
                    a.first(href="#")
                        img(src="../image/product1.jpg", alt="")
                    a.primery(href="#")
                        img(src="../image/product7.jpg", alt="")
                    .img-content
                        h3.uppercase sale
                        h4.uppercase new
                        .icon
                            a(href="#" title="Add to cart")
                                i.fas.fa-shopping-cart
                            a(href="#" title="Quick view")
                                i.fas.fa-search
                            a(href="#" title="Add to Wishlist")
                                i.far.fa-heart
                            a(href="#" title="Add to ompare")
                                i.fas.fa-sync-alt
                .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
        .list-product.visibility
            .list-container
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt
                .list
                    figure
                        a.first(href="#")
                            img(src="../image/product1.jpg", alt="")
                        a.primery(href="#")
                            img(src="../image/product7.jpg", alt="")
                        .img-content
                            h3.uppercase sale
                            h4.uppercase new
                    .content
                            h3
                                a(href="#") Aliquam Consequet
                            p 
                                a(href="#") Fruits
                            h4 
                                |$26.00
                                span $382.00
                            p.article Nunc facilisis sagittis ullamcorper. Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus. Sed et lorem nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean eleifend laoreet congue. Viva..

                            .icon
                                a.add(href="#" title="Add to cart") Add To Cart
                                a(href="#" title="Quick view")
                                    i.fas.fa-search
                                a(href="#" title="Add to Wishlist")
                                    i.far.fa-heart
                                a(href="#" title="Add to ompare")
                                    i.fas.fa-sync-alt