.table
    .table-container
        .table-content
            table
                thead
                    tr 
                        th.product-remove Delete
                        th.product-thumb Image
                        th.product-name Product
                        th.product-price Price
                        th.product-quantity Quantity
                        th.product-total Total
                tbody
                    tr
                        td.product-remove
                            a(href="#") 
                                i.far.fa-trash-alt
                        td.product-thumb 
                            a(href="#")
                                img(src="../image/product6.jpg", alt="")
                        td.product-name 
                            a(href="#") Handbag fringilla
                        td.product-price £65.00
                        td.product-quantity 
                            lable.lable Quantity
                            input(min="100" max="1000" value="1" type="nember")
                        td.product-total £130.00
                    tr
                        td.product-remove
                            a(href="#") 
                                i.far.fa-trash-alt
                        td.product-thumb 
                            a(href="#")
                                img(src="../image/product6.jpg", alt="")
                        td.product-name 
                            a(href="#") Handbag fringilla
                        td.product-price £65.00
                        td.product-quantity 
                            lable.lable Quantity
                            input(min="100" max="1000" value="1" type="nember")
                        td.product-total £130.00
                    tr
                        td.product-remove
                            a(href="#") 
                                i.far.fa-trash-alt
                        td.product-thumb 
                            a(href="#")
                                img(src="../image/product6.jpg", alt="")
                        td.product-name 
                            a(href="#") Handbag fringilla
                        td.product-price £65.00
                        td.product-quantity 
                            lable.lable Quantity
                            input(min="100" max="1000" value="1" type="nember")
                        td.product-total £130.00
            .submit-cart
                button(type="submit") UPDATE CART