.type
    .type-container
        .fruits
            h2 Fruits
            .fruits-slide.owl-carousel.owl-theme
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
        .fruits
            h2 Salads
            .fruits-slide.owl-carousel.owl-theme
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
        .fruits
            h2 Fish & Seafood
            .fruits-slide.owl-carousel.owl-theme
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                .fruits-product
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article.mb-6
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
                        article
                            figure
                                a.first(href="#")
                                    img(src="../image/product18.jpg", alt="")
                                a.primery(href="#")
                                    img(src="../image/product16.jpg", alt="")
                            .content
                                h3 
                                    a(href="#")   Aliquam Consequat
                                p 
                                    a(href="#")  Fruits
                                h4 
                                    | $26.00
                                    span $320.00
                                .icon
                                    a(href="#" title="Add to cart")
                                        i.fas.fa-shopping-cart
                                    a(href="#" title="Quick view")
                                        i.fas.fa-search
                                    a(href="#" title="Add to Wishlist")
                                        i.far.fa-heart
                                    a(href="#" title="Add to ompare")
                                        i.fas.fa-sync-alt
.payment
    .pay-content
        .pay.owl-carousel.owl-theme
            article
                figure
                    a(href="#")
                        img(src="../image/brand1.jpg", alt="")
            article
                figure
                    a(href="#")
                        img(src="../image/brand2.jpg", alt="")
            article
                figure
                    a(href="#")
                        img(src="../image/brand3.jpg", alt="")
            article
                figure
                    a(href="#")
                        img(src="../image/brand4.jpg", alt="")
            article
                figure
                    a(href="#")
                        img(src="../image/brand1.jpg", alt="")
script.
    $(document).ready(function() {
      $('.fruits-slide').owlCarousel({
      nav: true,
      loop: true,
      responsive: {
      1000: {
      items: 1
      },
      768: {
      items: 2
      },
      0: {
      items: 1
      }
      }
      })
      });
      $(document).ready(function() {
      $('.pay').owlCarousel({
      nav: false,
      loop: true,
      responsive: {
      1000: {
      items: 5
      },
      768: {
      items: 4
      },
      480: {
      items : 3    
      },
      0: {
      items: 2
      }
      }
      })
      });