.slide
    .slider
        .nav-left
            .nav
                ul
                    li
                        a(href="#")
                            | Vegatables
                            i.fas.fa-angle-right
                    li
                        a(href="#")
                            | Fruit
                            i.fas.fa-angle-right
                    li
                        a(href="#")
                            | Salads
                            i.fas.fa-angle-right
                    li
                        a(href="#")
                            | Fish & Seafood
                            i.fas.fa-angle-right
                    li 
                        a(href="#") Fresh Meat
                    li 
                        a(href="#") Butter & Eggs
                    li 
                        a(href="#") Milk
                    li 
                        a(href="#") Oil & Vinergars
                    li 
                        a(href="#") Bread
                    li 
                        a(href="#") jam & Honey
                    li 
                        a(href="#") New Sofas
                    li 
                        a(href="#") Sleight Sofas
                    li 
                        a(href="#") Less Category
        .slide1.owl-carousel.owl-theme
            .slide-content
                figure
                    img(src="./image/slider7.jpg", alt="")
                    .content 
                        h3 Vegatable 100% Organoic
                        p Organic ingredients & healthy recipes
                        a.uppercase(href="#") read more

            .slide-content
                figure
                    img(src="./image/slider8.jpg", alt="")
                    .content 
                        h3 Organic & Fresh Lemon
                        p Healthy fruits tropical paradise
                        a.uppercase(href="#") read more
            .slide-content
                figure
                    img(src="./image/slider9.jpg", alt="")
                    .content 
                        h3 Fresh Banana 100% Natural
                        p Healthy fruits tropical paradise
                        a.uppercase(href="#") read more