.bar
    .bar-container
        .left 
            i.fas.fa-th-large#grid-3
            i.fas.fa-th#grid-4
            i.fas.fa-th-list#list
        .mid
            select.select-option(name="select")
                option( selected value=" 1") Product Name: Z
                option(value="2") Sort by popularity
                option(value="3") Sort by newness
                option(value="4") Sort by price: low to hight
                option(value="4") Sort by price: hight to low
                option(value="5") Sort by average rating
        .right
            p Showing 1–9 of 21 results
