@media screen and (min-width: 320px){
    .file .file-container .file-content {
        padding: 0 16px;
        margin-top: 60px;
    }
    .file .file-container .file-content .file1 h3 {
        font-size: 13px;
        font-weight: 400;
        background-color: #f7f6f7;
        padding: 15px 10px;
        border-top: 3px solid #40A944;
        margin-bottom: 0;
    }
    .file .file-container .file-content .file1 h3 i {
        margin-right: 5px;
    }
    .file .file-container .file-content .file1 h3 a {
        margin-left: 5px;
        color:#40A944;
    }
}
@media screen and (min-width: 1200px){
    .file {
        max-width: 1130px;
        margin: auto;
    }
}