.header 
    .top-header 
        .top-container
            .left-content
                i.fab.fa-twitter
                i.fab.fa-google-plus-g
                i.fab.fa-youtube-square
                i.fab.fa-facebook-f
                i.fab.fa-instagram
            .right-content
                .lan
                    ul
                        li  
                            a(href="#")
                                |Language
                                i.fas.fa-angle-down
                .curent
                    ul    
                        li
                            a(href="#") 
                                | Currency
                                i.fas.fa-angle-down
    .midle-content
        .left
            a(href="index.pug")
                img(src="./image/logo.png", alt="")
        .right
            .input-group
                select.select-option#categori2(name="select")
                    option(selected value = "1") Select a categories
                    option( value = "2") Accessories
                    option( value = "3") Acessories & More
                    option( value = "4") Butters & Eggs
                    option( value = "5") Camera & Video
                    option( value = "6") Mornitor
                    option( value = "7") Tablets
                    option( value = "8") Laptops
                    option( value = "9") Handbags
                    option( value = "10") Headphone & speaker
                    option( value = "11") Herbs & botanicals
                    option( value = "12") Vegatables
                    option( value = "13") Shop
                    option( value = "14") Laptops & Desktops
                    option( value = "15") Watchs
                    option( value = "16") Electronic
                .search
                    input(placeholder=" Search Product..." type="text")
                    button(type="submit")
                        i.fas.fa-search
            .login
                ul
                    li
                        a.uppercase(href="#") register
                    li
                        span /
                    li 
                        a.uppercase(href="#") login
                .icon
                    a(href="#")   
                        i.far.fa-heart
                        span 2
                    a(href="#")
                        i.fas.fa-shopping-cart 
                        span 3
            .menu-bar
                i.fas.fa-bars
    .bot-content
        .left-menu
            .input-group
                select.select-option#categori2(name="select")
                    option(selected value = "1") Select a categories
                    option( value = "2") Accessories
                    option( value = "3") Acessories & More
                    option( value = "4") Butters & Eggs
                    option( value = "5") Camera & Video
                    option( value = "6") Mornitor
                    option( value = "7") Tablets
                    option( value = "8") Laptops
                    option( value = "9") Handbags
                    option( value = "10") Headphone & speaker
                    option( value = "11") Herbs & botanicals
                    option( value = "12") Vegatables
                    option( value = "13") Shop
                    option( value = "14") Laptops & Desktops
                    option( value = "15") Watchs
                    option( value = "16") Electronic
                .search
                    input(placeholder=" Search Product..." type="text")
                    button(type="submit")
                        i.fas.fa-search
            .menu-bar
                i.fas.fa-bars
                a(href="#") All Categories
                    i.fas.fa-angle-down
            .main-menu
                ul
                    li  
                        a(href="#")
                            | Home
                            i.fas.fa-angle-down
                    li  
                        a(href="product.html")
                            | Shop
                            i.fas.fa-angle-down
                    li  
                        a(href="#")
                            | Blogs
                            i.fas.fa-angle-down
                    li  
                        a(href="#")
                            | Page
                            i.fas.fa-angle-down
                    li  
                        a(href="#")
                            | Contact Us
        .right-cont
            figure
                img(src="../image/icon-phone2.png", alt="")
            .content
                p (08) 23 456 789
                h5 Customer Supports
                        